<h1>Eat Da Burger!</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
       <h4>Burgers that are available to eat</h4>
       <ul>
        {{#each burgers}}
            {{#unless devoured}}
					       {{>burgers/burger-block devoured =false}}
					    {{/unless}}
					  {{/each}}
					</ul>
    </div>
   </div>

  <div class="row">
				<h2>Burgers that have been devoured!</h2>
				<ul>
				  {{#each burgers}}
				    {{#if devoured}}
            {{burgers/burger-block devoured=true}}
				    {{/if}}
				  {{/each}}
				 </ul>
		    </div>
		</div>
  </div> 
	<!-- end row for displaying Availabubls -->
	<div class="row">
		    <div>

				<h2>Add A Burger!</h2>

				<form class="create-form">
				<p>Enter a burger you want to order and click the Submit Order button.</p>
				<input type="text" id="ca" name="burger_name">
				  
			    <button type="submit">Submit Order</button>
				</form>

	
		
	</div>
	<!-- end row for adding a burger -->

</div> <!-- end container -->





